ul li{
    list-style-type: none;
    display: inline;
}

a{
    display: inline-block;
    background-color: black;
    padding: 10px;
    color: yellow;
    text-decoration: none;
}

a:hover{
    background-color:yellow
  
}